<%- include('./header.ejs') %>
</head>
<body>
    Main Page Render!
    <br>
    <a href="/product">Product Example</a><br>
    <a href="/cart">Cart example</a>

</body>
<%- include('./footer.ejs') %>