<!DOCTYPE html>
<html>
    <head>
        <title>Q1</title>
    </head>
    <body>
        <form id="form1" method="post" action="/">
            <b>Key</b>
            <input type="text" name="key" />
            <br>
            <b>Value</b>
            <input type="text" name="value" />
            <br>
            <input type="submit" />
        </form>
    </body>
</html>