<!DOCTYPE html>
<html>
    <head>
        <title>Majic Ball</title>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body>
        <label>Ask the ball</label>
        <br>
        <input type="text" id="question" />
        <button id="butQ">Ask</button>
    </body>
</html>
